html,body { width: 100%; height: 100%; }
body { font-size: 80%; }
html,body,div,span,ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,p,em,br,hr { padding: 0; margin: 0; line-height: 1; }

a:active { outline: none; }
:-moz-any-link:focus {
	  outline: none;
}
.clear { clear: both; }

#page-wrapper { position: relative; width: 809px; height: 988px; overflow: hidden; margin: 0 auto; background: #fff; font-family: arial, tahoma, verdana, sans-serif; }
#page-wrapper .page { width: 809px; height: 988px; }

#like-gate { background: url(../img/bg-like-gate.jpg) no-repeat; width: 809px; height: 988px; }

.page { position: absolute; float: left; width: 809px; height: 988px; left: 809px; }
